{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="brand">
  <div>
    <h1>Our Brand</h1>
    <p>
      Grand  is a premium Grand lifestyle brand inspired by multi international heritage.
    </p>
    <p>
      Every product is crafted with authentic recipes, premium ingredients,
      and modern presentation.
    </p>
    <p>
    Located in Bhaktapur,Nepal
    </p>
  </div>

  <div>
    <img src="{% static 'img/aboutus.webp' %}" alt="aboutus" width="800px" height="600px" />
  </div>
</section>
{% endblock %}
