{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="menu-item">

  <article class="menu-item-card">
    <div class="menu-item-card__content">

      <h1 class="menu-item-card__title">{{ menu_item.name }}</h1>

      <p class="menu-item-card__description">
        {{ menu_item.description }}
      </p>

      <p class="menu-item-card__price">
        {{ menu_item.price }}
      </p>

      <a href="{% url 'menu' %}" class="menu-item-card__btn">
        ← Back to Menu
      </a>

    </div>
  </article>

</section>
{% endblock %}
